* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
  color: rgb(92, 82, 86);
}

h1 {
  font-size: 6.1vh;
}

h2 {
  padding-left: 6.5vh;
  padding-top: 0.2vh;
  font-size: 2vh;
}

/* @Extend */
.seccion-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 18vh;
  margin-left: 10vh;
}

.icon-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in .icon-contact-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in .icon-portfolio-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in .icon-resume-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in .icon-about-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in .icon-home-in {
  background-color: white;
  background-size: cover;
  height: 8vh;
  width: 8vh;
  border-radius: 1vh;
  filter: opacity(100%);
  box-shadow: 0px 0px 23px 5px white;
}

.name-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in .name-contact-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in .name-portfolio-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in .name-resume-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in .name-about-in, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in .name-home-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 23px 5px white;
  border-radius: 1vh;
  height: 2.5vh;
  width: 8vh;
  margin-left: 2vh;
  transition: 0.5s;
}

.seccion-out, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 18vh;
  transition: 1s;
  margin-left: 13vh;
}

.icon-out, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about {
  background-color: white;
  height: 5vh;
  width: 5vh;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0px 12px 18px -6px black;
  transition: 1s;
}

.icon-hover, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home:hover, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact:hover, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio:hover, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume:hover, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about:hover {
  margin-left: -1.5vh;
  box-shadow: 0px 0px 23px 5px white;
  background-size: cover;
  height: 8vh;
  width: 8vh;
  border-radius: 12px;
  filter: opacity(100%);
}

.name-out, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .name-home, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .name-contact, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .name-portfolio, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .name-resume, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .name-about {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
  right: 6.5vh;
  border-radius: 1vh;
  height: 1.25vh;
  width: 4vh;
  margin-left: 2vh;
  background-color: white;
  transition: 0.5s;
  font-size: 1vh;
}

.icon-hover-out, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover .icon-home, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover .icon-contact, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover .icon-portfolio, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover .icon-resume, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover .icon-about {
  margin-left: -1.5vh;
  box-shadow: 0px 0px 23px 5px white;
  background-size: cover;
  height: 8vh;
  width: 8vh;
  border-radius: 12px;
  filter: opacity(100%);
}

.name-hover-out, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover .name-home, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover .name-contact, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover .name-portfolio, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover .name-resume, .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover .name-about {
  transform: translateX(6.5vh);
  height: 2.5vh;
  width: 8vh;
  font-size: 1.5vh;
  box-shadow: 0px 0px 23px 5px white;
}

.icon-socials, .contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-linkedin, .contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-github, .contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-twitter, .contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-instagram, .contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-facebook {
  height: 3vh;
  width: 3vh;
  border-radius: 0.5vh;
  transition: 0.5s;
  background-size: cover;
}

/* @Extend */
/* @MAP */
/* @MAP */
.contenedor-general {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/cielo2large.jpg);
  background-size: cover;
}
.contenedor-general .contenedor-1 {
  height: 100vh;
  width: 18%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
  font-size: 1.5vh;
  font-family: "Signika", sans-serif;
}
.contenedor-general .contenedor-1 .barra-menu {
  margin-left: 30%;
  height: 50vh;
  width: 2.75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  background-image: url(../img/backgroundOPC/white50.png);
  filter: opacity(80%);
  transition: 1.5s;
}
.contenedor-general .contenedor-1 .barra-menu:hover {
  height: 52vh;
  filter: opacity(90%);
}
.contenedor-general .contenedor-1 .barra-menu .iconos {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contenedor-general .contenedor-1 .barra-menu .iconos a {
  text-decoration: none;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in .icon-home-in {
  background-image: url(../img/logo-home2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about {
  background-image: url(../img/logo-about.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about:hover {
  background-image: url(../img/logo-about2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover {
  height: 8vh;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover .icon-about {
  background-image: url(../img/logo-about2v2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume {
  background-image: url(../img/logo-resume.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume:hover {
  background-image: url(../img/logo-resume2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover {
  height: 8vh;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover .icon-resume {
  background-image: url(../img/logo-resume2v2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio {
  background-image: url(../img/logo-portfolio.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio:hover {
  background-image: url(../img/logo-portfolio2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover {
  height: 8vh;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover .icon-portfolio {
  background-image: url(../img/logo-portfolio2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact {
  background-image: url(../img/logo-contacto.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact:hover {
  background-image: url(../img/logo-contacto2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover {
  height: 8vh;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover .icon-contact {
  background-image: url(../img/logo-contacto2.png);
}
.contenedor-general .linea-intermedia {
  height: 80vh;
  width: 0.1px;
  border-left: solid 1.5px white;
}
.contenedor-general .contenedor-2 {
  height: 100vh;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-index {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  width: 80%;
  border-radius: 2vh;
  background-image: url(../img/backgroundOPC/white20.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Signika", sans-serif;
  border-radius: 2vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links {
  display: flex;
  justify-content: space-around;
  height: 3vh;
  width: 32.5vh;
  margin-top: 2vh;
  filter: opacity(60%);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-facebook {
  background-image: url(../img/logo-facebook.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-facebook:hover {
  background-image: url(../img/logo-facebook2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-instagram {
  background-image: url(../img/logo-instagram.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-instagram:hover {
  background-image: url(../img/logo-instagram2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-twitter {
  background-image: url(../img/logo-twitter.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-twitter:hover {
  background-image: url(../img/logo-twitter2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-github {
  background-image: url(../img/logo-github.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-github:hover {
  background-image: url(../img/logo-github2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-linkedin {
  background-image: url(../img/logo-linkedin.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-left .social-links .icon-linkedin:hover {
  background-image: url(../img/logo-linkedin2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-right {
  display: flex;
  justify-content: end;
  align-items: center;
  filter: opacity(80%);
  /* background-image: url(../img/perfil.png); background-size: cover; filter: opacity(60%); */
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-right .circle-perfil-e {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 35vh;
  background-image: url(../img/backgroundOPC/white20.png);
  border-radius: 30vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-index .content-right .circle-perfil-e .circle-perfil-i {
  height: 33vh;
  width: 33vh;
  background-color: lightslategray;
  background-image: url(../img/enzoo.jpg);
  background-size: cover;
  border-radius: 40vh;
}
.contenedor-general footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20vh;
  width: 100%;
}
.contenedor-general footer .ribbon {
  position: fixed;
  left: -6.5vh; /* top: 13vh; */
  bottom: 2vh;
  cursor: pointer;
  width: 19vh;
  height: 5vh;
  z-index: 4;
  display: flex;
  justify-content: end;
  transition: 2.5s;
  background-image: url(../img/ribbon-left.png);
  background-size: cover;
  transition: 1s;
}
.contenedor-general footer .ribbon:hover {
  transform: translateX(3.25vh);
}
.contenedor-general footer .ribbon .txt-footer {
  position: relative;
  right: 3vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
  height: 5vh;
  width: 7vh;
  text-align: center;
}
.contenedor-general footer .ribbon .footer-active {
  display: none;
}
.contenedor-general footer input {
  display: none;
}
.contenedor-general footer input:checked + .ribbon {
  left: 0vh;
  bottom: 0;
  background-image: url(../img/barra-h.jpg);
  height: 10vh;
  width: 100%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-general footer input:checked + .ribbon:hover {
  transform: translateX(0vh);
}
.contenedor-general footer input:checked + .ribbon .txt-footer {
  display: none;
}
.contenedor-general footer input:checked + .ribbon .footer-active {
  display: block;
}

.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home {
  background-image: url(../img/logo-home.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home:hover {
  background-image: url(../img/logo-home2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover {
  height: 8vh;
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover .icon-home {
  background-image: url(../img/logo-home2.png);
}
.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in .icon-about-in {
  background-image: url(../img/logo-about2v2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80%;
  border-radius: 2vh;
  background-image: url(../img/backgroundOPC/white20.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  font-family: "Signika", sans-serif;
  color: rgb(92, 82, 86);
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about p {
  font-size: 2vh;
  padding: 4vh 8vh;
  border: solid 1px white;
  border-radius: 2vh;
  background-image: url(../img/backgroundOPC/white40.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about p mark {
  color: rgb(92, 82, 86);
  background-color: white;
}

.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in .icon-resume-in {
  background-image: url(../img/logo-resume2v2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90%;
  border-radius: 2vh;
  background-image: url(../img/backgroundOPC/white20.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.5vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .edu-exp {
  margin-bottom: 3vh;
  padding: 2.5vh 1.5vh;
  height: 100%;
  width: 95%;
  background-image: url(../img/backgroundOPC/white30.png);
  border: solid 1px white;
  border-radius: 2vh;
  display: grid;
  gap: 1.5vh;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  grid-template-areas: "tecnico operador desarrollador";
  text-align: center;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .titulo-exp {
  margin-bottom: 1vh;
  color: darkgoldenrod;
  background-image: url(../img/backgroundOPC/white40.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .seccion-exp {
  background-image: url(../img/backgroundOPC/black10.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .descripcion-exp {
  margin-left: 1.5vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .descripcion {
  background-color: white;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .tecnico-electricista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 1px white;
  margin-left: 1vh;
  padding-left: 2vh;
  grid-area: tecnico;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .operador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 1px white;
  grid-area: operador;
  margin-left: 1vh;
  padding-left: 2vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-resume .contenido-resume .desarrollo-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid 1px white;
  grid-area: desarrollador;
  margin-left: 1vh;
  padding-left: 2vh;
}

.resume-bg {
  background-image: url(../img/cielo2large.jpg);
}

.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in .icon-portfolio-in {
  background-image: url(../img/logo-portfolio2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 80%;
  padding-top: 1vh;
  border-radius: 2vh;
  background-image: url(../img/backgroundOPC/white20.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio {
  height: 95%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido {
  text-align: center;
  height: 90%;
  width: 90%;
  margin: 1vh;
  gap: 2vh;
  display: grid;
  grid-template: repeat(3, 18vh)/repeat(4, 1fr);
  /* grid-template-areas:
      "proyecto1 proyecto3 agregar2 agregar2"
      "proyecto1 agregar4 agregar4 agregar1"
      "proyecto2 agregar4 agregar4 agregar11"
  ; */
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido div {
  background-image: url(../img/backgroundOPC/black40.png);
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido div a {
  text-decoration: none;
  border: solid 1px white;
  border-radius: 0.5vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto1 {
  background-image: url(../img/img_portfolio/proyecto1.jpg);
  background-size: cover;
  grid-area: proyecto1;
  grid-column-start: span 1;
  grid-column-end: 2;
  grid-row-start: span 2;
  grid-row-end: 3;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto2 {
  background-image: url(../img/img_portfolio/proyecto2.jpg);
  background-size: cover;
  grid-area: proyecto2;
  grid-column-start: span 1;
  grid-column-end: 2;
  grid-row-start: span 1;
  grid-row-end: 4;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto3 {
  background-image: url(../img/img_portfolio/proyecto3.jpg);
  background-size: cover;
  grid-area: proyecto3;
  grid-column-start: span 1;
  grid-column-end: 3;
  grid-row-start: span 1;
  grid-row-end: 2;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar4 {
  grid-area: agregar4;
  grid-column-start: span 2;
  grid-column-end: 4;
  grid-row-start: span 2;
  grid-row-end: 4;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar2 {
  grid-area: agregar2;
  grid-column-start: span 2;
  grid-column-end: 5;
  grid-row-start: span 1;
  grid-row-end: 2;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar1 {
  grid-area: agregar1;
  grid-column-start: span 1;
  grid-column-end: 5;
  grid-row-start: span 1;
  grid-row-end: 3;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar11 {
  grid-area: agregar1;
  grid-column-start: span 1;
  grid-column-end: 5;
  grid-row-start: span 1;
  grid-row-end: 4;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .entrega {
  font-size: 2.5vh;
  color: white;
}
.contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .mas {
  font-size: 10vh;
  color: white;
}

.contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in .icon-contact-in {
  background-image: url(../img/logo-contacto2.png);
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact {
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  text-align: center;
  font-family: "Signika", sans-serif;
  color: rgb(92, 82, 86);
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact label {
  font-size: 2.5vh;
  display: block;
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact input {
  background: transparent;
  background-image: url(../img/backgroundOPC/white80.png);
  border: none;
  border-radius: 1vh;
  margin-top: 1vh;
  text-align: center;
  height: 2.5vh;
  width: 30vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact textarea {
  background: transparent;
  background-image: url(../img/backgroundOPC/white80.png);
  border: none;
  border-radius: 1vh;
  height: 10vh;
  width: 30vh;
  padding: 0.5vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact .button-submit {
  cursor: pointer;
  font-family: "Signika", sans-serif;
  font-size: 1.5vh;
  color: rgb(92, 82, 86);
  box-shadow: 0px 0px 5px 1px rgb(22, 175, 230);
  border: solid 1px white;
  background-color: rgb(67, 188, 231);
  height: 3vh;
  width: 12vh;
}
.contenedor-general .contenedor-2 .contenedor-divisor .contenido-contact .button-submit:active {
  font-size: 1.5vh;
  background-color: rgb(7, 40, 52);
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
  border: solid 1px black;
  color: white;
}

/* @Media (max-width ...px) { */
@media (max-width: 1300px) {
  .contenedor-general {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .contenedor-general .contenedor-1 {
    height: 12vh;
    width: 100%;
    margin-top: 2.5vh;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-general .contenedor-1 .barra-menu {
    margin-left: 0;
    height: 2.75vh;
    width: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 1vh;
    background-image: url(../img/backgroundOPC/white50.png);
    filter: opacity(80%);
    transition: 1.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu:hover {
    width: 52vh;
    height: 2.75vh;
    filter: opacity(90%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos {
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> */
    /* <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> */
    /* <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> */
    /* <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> <<<SECCION-OUT>>> */
    /* <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> */
    /* <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> */
    /* <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> */
    /* <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> <<<SECCION-IN>>> */
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos a {
    text-decoration: none;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    width: 8vh;
    margin: 0;
    margin-top: 1vh;
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home {
    background-color: white;
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo-home.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .icon-home:hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-home2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home .name-home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    right: 1vh;
    bottom: 2.5vh;
    color: black;
    font-size: 0.75vh;
    font-family: "Signika", sans-serif;
    border-radius: 1vh;
    height: 1.25vh;
    width: 4vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover {
    height: 12.5vh;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover .name-home {
    transform: translateX(0vh);
    transform: translateY(4.5vh);
    height: 2.5vh;
    width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home:hover .icon-home {
    margin: 0;
    margin-top: 1.2vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-home2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    width: 8vh;
    margin: 0;
    margin-top: 1vh;
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about {
    background-color: white;
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo-about.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .icon-about:hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-about2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about .name-about {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    right: 1vh;
    bottom: 2.5vh;
    color: black;
    font-size: 0.75vh;
    font-family: "Signika", sans-serif;
    border-radius: 1vh;
    height: 1.25vh;
    width: 4vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover {
    height: 12.5vh;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover .icon-about {
    margin: 0;
    margin-top: 1.2vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-about2v2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about:hover .name-about {
    transform: translateX(0vh);
    transform: translateY(4.5vh);
    height: 2.5vh;
    width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    width: 8vh;
    margin: 0;
    margin-top: 1vh;
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume {
    background-color: white;
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo-resume.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .icon-resume:hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-resume2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume .name-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    right: 1vh;
    bottom: 2.5vh;
    color: black;
    font-size: 0.75vh;
    font-family: "Signika", sans-serif;
    border-radius: 1vh;
    height: 1.25vh;
    width: 4vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover {
    height: 12.5vh;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover .name-resume {
    transform: translateX(0vh);
    transform: translateY(4.5vh);
    height: 2.5vh;
    width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume:hover .icon-resume {
    margin: 0;
    margin-top: 1.2vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-resume2v2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    width: 8vh;
    margin: 0;
    margin-top: 1vh;
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio {
    background-color: white;
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo-portfolio.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .icon-portfolio:hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-portfolio2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio .name-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25vh;
    width: 4vh;
    z-index: -1;
    position: relative;
    right: 1vh;
    bottom: 2.5vh;
    color: black;
    font-size: 0.75vh;
    font-family: "Signika", sans-serif;
    border-radius: 1vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover {
    height: 12.5vh;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover .name-portfolio {
    transform: translateX(0vh);
    transform: translateY(4.5vh);
    height: 2.5vh;
    width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio:hover .icon-portfolio {
    margin: 0;
    margin-top: 1.2vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-portfolio2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12vh;
    width: 8vh;
    margin: 0;
    margin-top: 1vh;
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact {
    background-color: white;
    height: 5vh;
    width: 5vh;
    background-image: url(../img/logo-contacto.png);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.5);
    transition: 1s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .icon-contact:hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-contacto2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact .name-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
    right: 1vh;
    bottom: 2.5vh;
    color: black;
    font-size: 0.75vh;
    font-family: "Signika", sans-serif;
    border-radius: 1vh;
    height: 1.25vh;
    width: 4vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover {
    height: 12.5vh;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover .name-contact {
    transform: translateX(0vh);
    transform: translateY(4.5vh);
    height: 2.5vh;
    width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact:hover .icon-contact {
    margin: 0;
    margin-top: 1.2vh;
    box-shadow: 0px 0px 23px 5px white;
    background-image: url(../img/logo-contacto2.png);
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5vh;
    width: 8vh;
    margin-top: 4vh;
    margin-left: 0;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in .icon-home-in {
    background-image: url(../img/logo-home2.png);
    background-color: white;
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-home-in .name-home-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 23px 5px white;
    border-radius: 1vh;
    height: 2.5vh;
    width: 8vh;
    margin-top: 2vh;
    margin-left: 0;
    color: black;
    font-size: 1.5vh;
    font-family: "Signika", sans-serif;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5vh;
    width: 8vh;
    margin-top: 4vh;
    margin-left: 0;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in .icon-about-in {
    background-image: url(../img/logo-about2v2.png);
    background-color: white;
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-about-in .name-about-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 23px 5px white;
    border-radius: 1vh;
    height: 2.5vh;
    width: 8vh;
    margin-top: 2vh;
    margin-left: 0;
    color: black;
    font-size: 1.5vh;
    font-family: "Signika", sans-serif;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5vh;
    width: 8vh;
    margin-top: 4vh;
    margin-left: 0;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in .icon-resume-in {
    background-image: url(../img/logo-resume2v2.png);
    background-color: white;
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-resume-in .name-resume-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 23px 5px white;
    border-radius: 1vh;
    height: 2.5vh;
    width: 8vh;
    margin-top: 2vh;
    margin-left: 0;
    color: black;
    font-size: 1.5vh;
    font-family: "Signika", sans-serif;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5vh;
    width: 8vh;
    margin-top: 4vh;
    margin-left: 0;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in .icon-portfolio-in {
    background-image: url(../img/logo-portfolio2.png);
    background-color: white;
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-portfolio-in .name-portfolio-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 23px 5px white;
    border-radius: 1vh;
    height: 2.5vh;
    width: 8vh;
    margin-top: 2vh;
    margin-left: 0;
    color: black;
    font-size: 1.5vh;
    font-family: "Signika", sans-serif;
    transition: 0.5s;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5vh;
    width: 8vh;
    margin-top: 4vh;
    margin-left: 0;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in .icon-contact-in {
    background-image: url(../img/logo-contacto2.png);
    background-color: white;
    background-size: cover;
    height: 8vh;
    width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
  }
  .contenedor-general .contenedor-1 .barra-menu .iconos .seccion-contact-in .name-contact-in {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 23px 5px white;
    border-radius: 1vh;
    height: 2.5vh;
    width: 8vh;
    margin-top: 2vh;
    margin-left: 0;
    color: black;
    font-size: 1.5vh;
    font-family: "Signika", sans-serif;
    transition: 0.5s;
  }
  .contenedor-general .linea-intermedia {
    margin-top: 2.5vh;
    height: 0.1px;
    width: 80%;
    border: none;
    border-top: solid 1px white;
  }
  .contenedor-general .contenedor-2 {
    height: 79vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor {
    height: 95%;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    text-align: center;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about p {
    font-size: 1.8vh;
    margin-top: 0.5vh;
    padding: 0.5vh 1vh;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor .contenedor-texto-about p mark {
    width: 100%;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-index {
    flex-direction: column;
    align-items: center;
    height: 90%;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 80%;
    padding-top: 1vh;
    border-radius: 2vh;
    background-image: url(../img/backgroundOPC/white20.png);
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio {
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido {
    text-align: center;
    height: 90%;
    width: 90%;
    margin: 1vh;
    gap: 2vh;
    display: grid;
    grid-template: repeat(7, 6.6vh)/1fr;
    /* grid-template-areas:
        "proyecto1 proyecto3 agregar2 agregar2"
        "proyecto1 agregar4 agregar4 agregar1"
        "proyecto2 agregar4 agregar4 agregar11"
    ; */
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido div {
    background-image: url(../img/backgroundOPC/black40.png);
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido div a {
    text-decoration: none;
    border: solid 1px white;
    border-radius: 0.5vh;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto1 {
    background-image: url(../img/img_portfolio/proyecto1.jpg);
    background-size: cover;
    grid-area: proyecto1;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 2;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto2 {
    background-image: url(../img/img_portfolio/proyecto2.jpg);
    background-size: cover;
    grid-area: proyecto2;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 3;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .proyecto3 {
    background-image: url(../img/img_portfolio/proyecto3.jpg);
    background-size: cover;
    grid-area: proyecto3;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 4;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar4 {
    grid-area: agregar4;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 5;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar2 {
    grid-area: agregar2;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 6;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar1 {
    grid-area: agregar1;
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 7;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .agregar11 {
    grid-column-start: span 1;
    grid-column-end: 2;
    grid-row-start: span 1;
    grid-row-end: 8;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .entrega {
    font-size: 2.5vh;
    color: white;
  }
  .contenedor-general .contenedor-2 .contenedor-divisor-portfolio .contenido-portfolio .grid-contenido .mas {
    font-size: 10vh;
    color: white;
  }
  .contenedor-general .contenedor2-resume {
    height: 180vh;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 95%;
    margin-bottom: 2vh;
    border-radius: 2vh;
    background-image: url(../img/backgroundOPC/white20.png);
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.5vh;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .edu-exp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3vh;
    padding: 2.5vh 1.5vh;
    height: 100%;
    width: 95%;
    background-image: url(../img/backgroundOPC/white30.png);
    border: solid 1px white;
    border-radius: 2vh;
    text-align: center;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .titulo-exp {
    margin-bottom: 1vh;
    color: darkgoldenrod;
    background-image: url(../img/backgroundOPC/white40.png);
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .seccion-exp {
    background-image: url(../img/backgroundOPC/black10.png);
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .descripcion-exp {
    margin-left: 1.5vh;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .descripcion {
    background-color: white;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .tecnico-electricista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
    grid-area: tecnico;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .operador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: solid 1px white;
    grid-area: operador;
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
  }
  .contenedor-general .contenedor2-resume .contenedor-divisor-resume .contenido-resume .desarrollo-web {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: solid 1px white;
    grid-area: desarrollador;
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
  }
}
/* 
    } 
*//*# sourceMappingURL=style.css.map */