/* @Extend */

.seccion-in {
    display: flex;
    align-items: center;
    height: 8vh; width: 18vh;
    margin-left: 10vh;
}

.icon-in {
    background-color: white;
    background-size: cover;
    height: 8vh; width: 8vh;
    border-radius: 1vh;
    filter: opacity(100%);
    box-shadow: 0px 0px 23px 5px white;
}

.name-in {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white; box-shadow: 0px 0px 23px 5px white; border-radius: 1vh;
    height: 2.5vh; width: 8vh; margin-left: 2vh;
    transition: 0.5s;
}

.seccion-out {
    display: flex;
    align-items: center;
    height: 5vh; width: 18vh;
    transition: 1s;
    margin-left: 13vh;
}

.icon-out {
    background-color: white;
    height: 5vh; width: 5vh;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 12px 18px -6px black;
    transition: 1s;
}

.icon-hover {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-size: cover;
    height: 8vh; width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
}

.name-out {
    display: flex; justify-content: center; align-items: center;
    z-index: -1;
    position: relative;
    right: 6.5vh;
    border-radius: 1vh;
    height: 1.25vh; width: 4vh;
    margin-left: 2vh;
    background-color: white;
    transition: 0.5s;
    font-size: 1vh;
}

.icon-hover-out {
    margin-left: -1.5vh;
    box-shadow: 0px 0px 23px 5px white;
    background-size: cover;
    height: 8vh; width: 8vh;
    border-radius: 12px;
    filter: opacity(100%);
}

.name-hover-out {
    transform: translateX(6.5vh);
    height: 2.5vh; width: 8vh;
    font-size: 1.5vh;
    box-shadow: 0px 0px 23px 5px white;
}

.icon-socials {
    height: 3vh; width: 3vh;
    border-radius: 0.5vh;
    transition: 0.5s;
    background-size: cover;
}

/* @Extend */

/* @MAP */

$estilos: (
    color: white,
    border: solid 1px black,
    background-color: rgb(7, 40, 52)
);

/* @MAP */