$fondo: url(../img/cielo2large.jpg);
$fondo2: url(../img/noche2large.jpg);
$color-txt-p: rgb(100, 100, 100);
$color-txt-s: rgb(200, 200, 200);
$primario: white;
$primario-10: url(../img/backgroundOPC/white10.png);
$primario-20: url(../img/backgroundOPC/white20.png);
$primario-30: url(../img/backgroundOPC/white30.png);
$primario-40: url(../img/backgroundOPC/white40.png);
$primario-50: url(../img/backgroundOPC/white50.png);
$secundario: black;
$secundario-10: url(../img/backgroundOPC/black10.png);
$secundario-20: url(../img/backgroundOPC/black20.png);
$secundario-30: url(../img/backgroundOPC/black30.png);
$secundario-40: url(../img/backgroundOPC/black40.png);
$secundario-50: url(../img/backgroundOPC/black50.png);