.contenedor-general {
    height: 100vh; width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-image: url(../img/cielo2large.jpg);
    background-size: cover;
    .contenedor-1 {
        height: 100vh; width: 18%;
        display: flex; justify-content: start; align-items: center;
        color: black; font-size: 1.5vh; font-family: 'Signika', sans-serif;
        .barra-menu {
            margin-left: 30%;
            height: 50vh; width: 2.75vh;
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            border-radius: 1vh;
            background-image: url(../img/backgroundOPC/white50.png);
            filter: opacity(80%);
            transition: 1.5s;
            &:hover {
                height: 52vh;
                filter: opacity(90%);
            }
            .iconos {
                a { text-decoration: none; }
                height: 95%;
                width: 100%;
                display: flex; flex-direction: column; justify-content: space-around; align-items: center;
                .seccion-home-in {
                    @extend .seccion-in;
                    .icon-home-in {
                        @extend .icon-in;
                        background-image: url(../img/logo-home2.png);
                    }
                    .name-home-in {
                        @extend .name-in;
                    }
                }
                .seccion-about {
                    @extend .seccion-out;
                    .icon-about {
                        @extend .icon-out;
                        background-image: url(../img/logo-about.png);
                        &:hover {
                            @extend .icon-hover;
                            background-image: url(../img/logo-about2.png);
                        }
                    }
                    .name-about {
                        @extend .name-out;
                    }
                    &:hover {
                        height: 8vh;
                        .icon-about {
                            background-image: url(../img/logo-about2v2.png);
                            @extend .icon-hover-out;
                        }
                        .name-about {
                            @extend .name-hover-out;
                        }
                    }
                }
                .seccion-resume {
                    @extend .seccion-out;
                    .icon-resume {
                        @extend .icon-out;
                        background-image: url(../img/logo-resume.png);
                        &:hover {
                            @extend .icon-hover;
                            background-image: url(../img/logo-resume2.png);
                        }
                    }
                    .name-resume {
                        @extend .name-out;
                    }
                    &:hover {
                        height: 8vh;
                        .icon-resume {
                            background-image: url(../img/logo-resume2v2.png);
                            @extend .icon-hover-out;
                        }
                        .name-resume {
                            @extend .name-hover-out;
                        }
                    }
                }
                .seccion-portfolio {
                    @extend .seccion-out;
                    .icon-portfolio {
                        @extend .icon-out;
                        background-image: url(../img/logo-portfolio.png);
                        &:hover {
                            @extend .icon-hover;
                            background-image: url(../img/logo-portfolio2.png);
                        }
                    }
                    .name-portfolio {
                        @extend .name-out;
                    }
                    &:hover {
                        height: 8vh;
                        .icon-portfolio {
                            background-image: url(../img/logo-portfolio2.png);
                            @extend .icon-hover-out;
                        }
                        .name-portfolio {
                            @extend .name-hover-out;
                        }
                    }
                }
                .seccion-contact {
                    @extend .seccion-out;
                    .icon-contact {
                        @extend .icon-out;
                        background-image: url(../img/logo-contacto.png);
                        &:hover {
                            @extend .icon-hover;
                            background-image: url(../img/logo-contacto2.png);
                        }
                    }
                    .name-contact {
                        @extend .name-out;
                    }
                    &:hover {
                        height: 8vh;
                        .icon-contact {
                            background-image: url(../img/logo-contacto2.png);
                            @extend .icon-hover-out;
                        }
                        .name-contact {
                            @extend .name-hover-out;
                        }
                    }
                }
            }
        }
    }
    .linea-intermedia {
        height: 80vh; width: 0.1px;
        border-left: solid 1.5px white;
    }

    .contenedor-2 {
        height: 100vh; width: 82%;
        display: flex; justify-content: center; align-items: center;
        margin-top: 2vh;
        .contenedor-divisor-index {
            display: flex; justify-content: space-evenly;
            height: 60vh; width: 80%;
            border-radius: 2vh;
            background-image: url(../img/backgroundOPC/white20.png);
            .content-left {
                display: flex; flex-direction: column; justify-content: center;
                font-family: 'Signika', sans-serif;
                border-radius: 2vh;
                .social-links {
                    display: flex; justify-content: space-around;
                    height: 3vh; width: 32.5vh;
                    margin-top: 2vh;
                    filter: opacity(60%);
                    .icon-facebook {
                        background-image: url(../img/logo-facebook.png);
                        @extend .icon-socials;
                        &:hover {
                            background-image: url(../img/logo-facebook2.png);
                        }
                    }
                    .icon-instagram {
                        background-image: url(../img/logo-instagram.png);
                        @extend .icon-socials;
                        &:hover {
                            background-image: url(../img/logo-instagram2.png);
                        }
                    }
                    .icon-twitter {
                        background-image: url(../img/logo-twitter.png);
                        @extend .icon-socials;
                        &:hover {
                            background-image: url(../img/logo-twitter2.png);
                        }
                    }
                    .icon-github {
                        background-image: url(../img/logo-github.png);
                        @extend .icon-socials;
                        &:hover {
                            background-image: url(../img/logo-github2.png);
                        }
                    }
                    .icon-linkedin {
                        background-image: url(../img/logo-linkedin.png);
                        @extend .icon-socials;
                        &:hover {
                            background-image: url(../img/logo-linkedin2.png);
                        }
                    }
                }
            }
            .content-right {
                display: flex; justify-content: end; align-items: center;
                filter: opacity(80%);
                /* background-image: url(../img/perfil.png); background-size: cover; filter: opacity(60%); */
                .circle-perfil-e {
                    display: flex; 
                    justify-content: center; 
                    align-items: center;
                    height: 35vh; width: 35vh;
                    background-image: url(../img/backgroundOPC/white20.png);
                    border-radius: 30vh;
                    .circle-perfil-i {
                        height: 33vh; width: 33vh;
                        background-color: lightslategray;
                        background-image: url(../img/enzoo.jpg); background-size: cover;
                        border-radius: 40vh;
                    }
                }
            }
        }
    }
    
    footer {
        position: absolute; left: 0; bottom: 0;
        height: 20vh; width: 100%;
        .ribbon {
            position: fixed; left: -6.5vh; /* top: 13vh; */ bottom: 2vh;
            cursor: pointer;
            width: 19vh; height: 5vh;
            z-index: 4;
            display: flex; justify-content: end;
            transition: 2.5s;
            background-image: url(../img/ribbon-left.png); background-size: cover;
            transition: 1s;
            &:hover {
                transform: translateX(3.25vh);
            }
            .txt-footer {
                position: relative; right: 3vh;
                display: flex; align-items: center;
                font-size: 2vh;
                height: 5vh; width: 7vh;
                text-align: center;
            }
            .footer-active {
                display: none;
            }
        }
        input {
            display: none;
            &:checked + {
                .ribbon {
                    left: 0vh; bottom: 0;
                    background-image: url(../img/barra-h.jpg);
                    height: 10vh; width: 100%;
                    transition: 0.5s;
                    display: flex; justify-content: center; align-items: center;
                    &:hover {
                        transform: translateX(0vh);
                    }
                    .txt-footer {
                        display: none;
                    }
                    .footer-active {
                        display: block;
                    }
                }
            }
        }
    }
}