.contenedor-general {
    .contenedor-1 {
        .barra-menu {
            .iconos {
                .seccion-home{
                    @extend .seccion-out;
                    .icon-home {
                        @extend .icon-out;
                        background-image: url(../img/logo-home.png);
                        &:hover {
                            @extend .icon-hover;
                            background-image: url(../img/logo-home2.png);
                        }
                    }
                    .name-home {
                        @extend .name-out;
                    }
                    &:hover {
                        height: 8vh;
                        .icon-home {
                            background-image: url(../img/logo-home2.png);
                            @extend .icon-hover-out;
                        }
                        .name-home {
                            @extend .name-hover-out;
                        }
                    }
                }

                .seccion-about-in {
                    @extend .seccion-in;
                    .icon-about-in {
                        @extend .icon-in;
                        background-image: url(../img/logo-about2v2.png);
                    }
                    .name-about-in {
                        @extend .name-in;
                    }
                }
            }
        }
    }
    .contenedor-2{
        .contenedor-divisor {
            display: flex; 
            justify-content: center; 
            align-items: center;
            height: 60vh; width: 80%;
            border-radius: 2vh;
            background-image: url(../img/backgroundOPC/white20.png);
            .contenedor-texto-about {
                display: flex; flex-direction: column; justify-content: center; align-items: center;
                width: 90%;
                text-align: center; font-family: 'Signika', sans-serif; color: rgb(92, 82, 86);
                p {
                    font-size: 2vh;
                    padding: 4vh 8vh;
                    border: solid 1px white; border-radius: 2vh; background-image: url(../img/backgroundOPC/white40.png);
                    mark {
                        color: rgb(92, 82, 86);
                        background-color: white;
                    }
                }
            }
        }
    }
}