.contenedor-general {
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cielo2.jpg);
    background-size: cover;
    .contenedor-1 {
        .barra-menu {
            .iconos {
                a { text-decoration: none; }

                height: 95%;
                width: 100%;
                display: flex; flex-direction: column; justify-content: space-around; align-items: center;
                filter: opacity(90%);

                .seccion-resume-in {
                    display: flex;
                    align-items: center;
                    height: 8vh; width: 18vh;
                    margin-left: 10vh;
                    .icon-resume-in {
                        background-image: url(../img/logo-resume2v2.png);
                        background-color: white;
                        background-size: cover;
                        height: 8vh; width: 8vh;
                        border-radius: 1vh;
                        filter: opacity(100%);
                        box-shadow: 0px 0px 23px 5px white;
                    }
                    .name-resume-in {
                        display: flex; align-items: center; justify-content: center;
                        background-color: white; box-shadow: 0px 0px 23px 5px white; border-radius: 1vh;
                        height: 2.5vh; width: 8vh; margin-left: 2vh;
                        color: black; font-size: 1.5vh; font-family: 'Signika', sans-serif;
                        vertical-align: middle;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    .contenedor-2{
        .contenedor-borde {
            .contenedor-divisor-resume {
                display: flex; justify-content: center; align-items: center;
                height: 90vh; width: 90%;
                /* border: solid 1px white; */ /* comentar al final */
                border-radius: 2vh;
                /* background-image: url(../img/backgroundOPC/black20.png); */
                background-image: url(../img/backgroundOPC/white20.png);
                /* background-image: url(../img/interior2.png); background-size: cover; */
                .contenido-resume {
                    display: flex; flex-direction: column; align-items: center;
                    height: 100%; width: 100%;
                    /* background-color: white; */
                    font-size: 1.5vh;
                    .edu-exp {
                        margin-bottom: 3vh;
                        padding: 2.5vh 1.5vh;
                        height: 100%; width: 95%;
                        background-image: url(../img/backgroundOPC/white30.png);
                        border: solid 1px white; border-radius: 2vh;
                        display: grid; gap: 1.5vh;
                        grid-template: repeat(1, 1fr)/ repeat(3, 1fr);
                        grid-template-areas: 
                            "tecnico operador desarrollador"
                        ;
                        text-align: center;
                    }
                    .titulo-exp {
                        margin-bottom: 1vh;
                        color: darkgoldenrod;
                        background-image: url(../img/backgroundOPC/white40.png);
                    }
                    .seccion-exp {
                        background-image: url(../img/backgroundOPC/black10.png);
                    }
                    .descripcion-exp {
                        margin-left: 1.5vh;
                    }
                    .descripcion {
                        background-color: white;
                    }
                    .tecnico-electricista {
                        display: flex; flex-direction: column; align-items: center; justify-content: center;
                        border-left: solid 1px white;
                        margin-left: 1vh;
                        padding-left: 2vh;
                        grid-area: tecnico;
                    }
                    .operador {
                        display: flex; flex-direction: column; align-items: center; justify-content: center;
                        border-left: solid 1px white;
                        grid-area: operador;
                        margin-left: 1vh;
                        padding-left: 2vh;
                    }
                    .desarrollo-web {
                        display: flex; flex-direction: column; align-items: center; justify-content: center;
                        border-left: solid 1px white;
                        grid-area: desarrollador;
                        margin-left: 1vh;
                        padding-left: 2vh;
                    }
                }
            }
        }
    }
}