.contenedor-general {
    .contenedor-1 {
        .barra-menu {
            .iconos {
                .seccion-contact-in {
                    @extend .seccion-in;
                    .icon-contact-in {
                        @extend .icon-in;
                        background-image: url(../img/logo-contacto2.png);
                    }
                    .name-contact-in {
                        @extend .name-in;
                    }
                }

            }
        }
    }
    .contenedor-2{
        .contenedor-divisor {
            .contenido-contact {
                flex-direction: column;
                display: flex; flex-direction: column; justify-content: center; align-items: center;
                width: 90%; height: 90%;
                text-align: center; font-family: 'Signika', sans-serif; color: rgb(92, 82, 86);
                label {
                    font-size: 2.5vh;
                    display: block;
                }
                input {
                    background: transparent;
                    background-image: url(../img/backgroundOPC/white80.png);
                    border: none; border-radius: 1vh;
                    margin-top: 1vh;
                    text-align: center;
                    height: 2.5vh;
                    width: 30vh;
                }
                textarea {
                    background: transparent;
                    background-image: url(../img/backgroundOPC/white80.png);
                    border: none; border-radius: 1vh;
                    height: 10vh; width: 30vh;
                    padding: 0.5vh;
                }
                .button-submit {
                    cursor: pointer;
                    font-family: 'Signika', sans-serif;
                    font-size: 1.5vh;
                    color: rgb(92, 82, 86);
                    box-shadow: 0px 0px 5px 1px rgb(22, 175, 230);
                    border: solid 1px white;
                    background-color: rgb(67, 188, 231);
                    height: 3vh; width: 12vh;
                    &:active {
                        font-size: 1.5vh;
                        background-color: map-get($estilos, background-color);
                        box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
                        border: map-get($estilos, border);
                        color: map-get($estilos, color);
                    }
                }
            }
        }
    }
}